<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>DisplayProducts</servlet-name>
        <servlet-class>DisplayProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RESTDisplayProducts</servlet-name>
        <servlet-class>RESTDisplayProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutoComplete</servlet-name>
        <servlet-class>AutoComplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetails</servlet-name>
        <servlet-class>ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTracking</servlet-name>
        <servlet-class>SessionTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessOrder</servlet-name>
        <servlet-class>ProcessOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartInfo</servlet-name>
        <servlet-class>CartInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RESTProcessOrder</servlet-name>
        <servlet-class>RESTProcessOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayProducts</servlet-name>
        <url-pattern>/DisplayProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTDisplayProducts</servlet-name>
        <url-pattern>/RESTDisplayProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutoComplete</servlet-name>
        <url-pattern>/AutoComplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetails</servlet-name>
        <url-pattern>/ProductDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTracking</servlet-name>
        <url-pattern>/SessionTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessOrder</servlet-name>
        <url-pattern>/ProcessOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartInfo</servlet-name>
        <url-pattern>/CartInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RESTProcessOrder</servlet-name>
        <url-pattern>/RESTProcessOrder</url-pattern>
    </servlet-mapping>
</web-app>
